<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Process</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bodystyle.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img class="logo" src="/images/Logo.svg" alt="logo">
        </div>
        <nav>
            <ul class="navlink">
                <li><a href="/">Home</a></li>
                <% if (locals.isAuthenticated) { %>
                    <li><a href="/user-info">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
                <% if (locals.role == "Admin") {%>
                    <li><a href="/search/all-log">Logs</a></li>

                <% } %>
            </ul>
        </nav>
        <a class="gitbut" href="https://github.com/ThePeet25?tab=repositories" target="_blank">Github</a>
    </header>